*
{
    margin: 0%;
    padding: 0%;
}
.Heading
{
    text-align: center;
    font-size: 700%;
    border-bottom: 1px solid black;
    padding: 1%;
}
.Details
{
    text-align: center;
    font-size: 400%;
}
.Implementation
{
    font-size: 150%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.code
{
    font-size: 150%;
    display: flex;
    justify-content: center;
}
.code .part
{
    margin: 1%;
    background-color: black;
    color: white;
    padding: 1%;
}
@media(max-width:800px)
{
    .Heading
    {
        font-size: 600%;
    }
    .Details
    {
        font-size: 350%;
    }
}
@media(max-width:500px)
{
    .Heading
    {
        font-size: 300%;
    }
    .Details
    {
        font-size: 200%;
    }
}
@media(max-width:400px)
{
    .Heading
    {
        font-size: 200%;
    }
    .Details
    {
        font-size: 150%;
    }
    .Implementation
    {
        font-size: 100%;
    }
    .code
    {
        font-size: 100%;
    }
}